$bg-theme-light: #fff;
$color-theme-light: #222;

$bg-theme-dark: #222;
$color-theme-dark: #fff;

*{
    box-sizing: border-box;
}
html {
    height: 100%;
}

body{
    background-color: $bg-theme-light;
    color: $color-theme-light;
    padding: 20px;
    height: 100vh;
}

.text-center{
    text-align: center;
}

.content-box{
    margin: 20px auto 0 auto;
    background-color: #eee;
    color: $color-theme-light;
    border-radius: 8px;
    padding: 30px 30px 40px 30px;
    max-width: 800px;
    h3{
        line-height: 1.2;
        margin: 0;
        font-size: 20px;
    }
    h5{
        line-height: 1.5;
        margin: 0 0 20px 0;
        font-size: 20px;
    }
}

.theme-switcher-wrap{
    width: 100%;
    text-align: right;
    .theme-switcher{
        display: inline-block;
        cursor: pointer;
        .switcher-path{
            width: 40px;
            height: 20px;
            border-radius: 10px;
            background-color: #ccc;
            .switcher-handle{
                background-color: #999;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                transition: all 0.3s ease-in-out;
            }
        }
        a.active{
            .switcher-path{
                background-color: #555;
            }
            .switcher-handle{
                transform: translateX(20px);
                background-color: #7bbb5e;
            }
        }
    }
}